<style lang="scss" scoped>
    .login {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100vh;
        background-image: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg);
        background-size: cover;
    }

    .login-form-warp {
        width: 300px;
        margin-right: 160px;
        background: #ffffff;
        border-radius: 15px;
        padding: 15px;
        box-sizing: border-box;
    }

    .login-form-title {
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        font-weight: 700;
    }

    .login-from {
        padding: 15px;
    }

    .login-form-btn {
        width: 100%;
    }
</style>
<template>
    <div class="login">
        <div class="login-form-warp">
            <h3 class="login-form-title">欢迎登录</h3>
            <div class="login-from">
                <el-form ref="login-form" :model="form" class="demo-form-inline" :rules="rules" size="small">
                    <el-form-item prop="username">
                        <el-input v-model="form.username" placeholder="用户名">
                            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input type="password" v-model="form.password" placeholder="密码">
                            <el-button slot="prepend" icon="el-icon-lock"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button class="login-form-btn" type="primary" @click="login">登录</el-button>
                    </el-form-item>
                </el-form>
            </div>

        </div>
    </div>
</template>
<script>
    import { login } from '../http/api.js'
    export default {
        data() {
            return {
                form: {
                    username: "admin",
                    password: "123456"
                },
                rules: {
                    username: [
                        { required: true, message: '请输入用户名', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: '请输入密码', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            login() {
                this.$refs['login-form'].validate(async (valid) =>{
                    if(valid) {
                        const { token, username } = await login(this.form)
                        this.$message({
                            showClose: true,
                            message: '欢迎回来,' + username,
                            type: 'success'
                        })
                        // console.log(res)
                        this.$store.commit('setToken', token)
                        this.$store.commit('setusername', username)
                        this.$router.replace({
                            name: 'index'
                        })
                    }else{
                        return false
                    }
                })

            }
        },
    }
</script>